@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: inherit;
}

.app{
width: 80%;
margin: auto;
}


* {
  scroll-behavior: smooth;
}


/* Apply hover effect to all images except navbar ones */
img:not(.navbar img) {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

img:not(.navbar img):hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}




@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}